<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="FxCop Rules" Description="Enforces .NET best practices" ToolsVersion="10.0">
    <Rules AnalyzerId="Microsoft.CodeAnalysis.FxCopAnalyzers" RuleNamespace="Microsoft.CodeAnalysis">
        <Rule Id="CA1303" Action="Warning" />
        <Rule Id="CA1822" Action="Error" />
        <Rule Id="CA1062" Action="Error" />
        <Rule Id="CA1506" Action="Warning" />
    </Rules>
</RuleSet>
